<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">
  <title>网站名称-关于</title>
  <link rel="stylesheet" href="../res/layui/css/layui.css">
  <link rel="stylesheet" href="../res/static/css/index.css">
</head>
<body>
  <!-- nav部分 -->
  <div class="nav">
    <div class="layui-container">
      <!-- 公司logo -->
      <div class="nav-logo">
        <a href="index.html">
          <img src="../res/static/img/logo.png" alt="网站名称">
        </a>
      </div>
      <div class="nav-list">
        <button>
          <span></span><span></span><span></span>
        </button>
        <ul class="layui-nav" lay-filter="">
          <li class="layui-nav-item"><a href="index.html">首页</a></li>
        	<li class="layui-nav-item"><a href="about.html">关于我们</a></li>
          <li class="layui-nav-item"><a href="product.html">我们的服务</a></li>
          <li class="layui-nav-item"><a href="case.html">活动</a></li>
          <li class="layui-nav-item"><a href="news.html">媒体报道</a></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- banner部分 -->
  <div class="banner about">
    <div class="title">
      <p>关于我们</p>
      <p class="en">About Us</p>
    </div>
  </div>
  <!-- main部分 -->
  <div class="main-about">
    <div class="layui-container">
      <div class="layui-row">
        <ul class="aboutab">
          <li class="layui-this">爱芬简介</li><li>合作伙伴</li><li>加入我们</li><li>发展历程</li>
        </ul>
        <div class="tabIntro">
          <div class="content">
            <div class="layui-inline img"><img src="../res/static/img/us_img1.jpg"></div><div class="layui-inline panel">
              <p>我们是谁？ 上海爱芬环保科技咨询服务中心于2012年8月在静安区科委正式注册成立。爱芬环保致力于推动城市垃圾分类的进程，其核心工作是为社区提供垃圾分类的解决方案，以及培训、咨询和顾问服务。</br>
                                  我们的使命？ 让人人享有美好环境！</br>
                                  我们的愿景： 用3-5年时间，成为社区垃圾分类减量的先锋倡导者和推动者，推进上海乃至中国垃圾分类减量的进程。</p>
            </div>
          </div>
          <div style="width: 100%; height: 5em;"></div>
          <div class="content">
          	<div class="layui-col-sm3 team-gd"><img src="../res/static/img/team1.jpg" class="layui-anim layui-anim-scale">
          	  <h3>理事长:江峰</h3>
          		<span>“我不想做一个旁观者，更不想做一个报怨者。环保需要人人参与，更需要各个领域的专业人士参与”</p>
          	</div>
          	<div class="layui-col-sm3 team-gd"><img src="../res/static/img/team2.jpg" class="layui-anim layui-anim-scale">
          	<h3>执行团队:宋慧</h3>
          		<span>“独乐乐不如众乐乐，大家好才是真的好！”</p>
          	</div>
          	<div class="layui-col-sm3 team-gd"><img src="../res/static/img/team3.jpg" class="layui-anim layui-anim-scale">
          	<h3>执行团队:郝利琼</h3>
          		<span>我所有工作的目的，是希望我的孩子，能如儿时的我一样，享受自然山水的美好，并从中感受到生命的欢愉和尊严！</span>
          	</div>
          	<div class="layui-col-sm3 team-gd"><img src="../res/static/img/team3.jpg" class="layui-anim layui-anim-scale">
          	<h3>理事长:江峰</h3>
          		<span>“我不想做一个旁观者，更不想做一个报怨者。环保需要人人参与，更需要各个领域的专业人士参与”</span>
          	</div>
          </div>
          <div class="content">   
          </div>         
        </div>
        <div class="tabJob">
        <div class="layui-col-xs6 layui-col-sm4 layui-col-md2 team-hz"><img src="../res/static/img/als.png"></div>
        <div class="layui-col-xs6 layui-col-sm4 layui-col-md2 team-hz"><img src="../res/static/img/als.png"></div>
        <div class="layui-col-xs6 layui-col-sm4 layui-col-md2 team-hz"><img src="../res/static/img/als.png"></div>
        <div class="layui-col-xs6 layui-col-sm4 layui-col-md2 team-hz"><img src="../res/static/img/als.png"></div>
        <div class="layui-col-xs6 layui-col-sm4 layui-col-md2 team-hz"><img src="../res/static/img/als.png"></div>
        <div class="layui-col-xs6 layui-col-sm4 layui-col-md2 team-hz"><img src="../res/static/img/als.png"></div>
        <div class="layui-col-xs6 layui-col-sm4 layui-col-md2 team-hz"><img src="../res/static/img/als.png"></div>
        </div>
        <div class="tabJob">
          <div class="content">
            <p class="title">成为志愿者</p>
            <p>> 职位描述</p>
            <ol>
              <li>添加“爱芬环保”微信号成为志愿者；</li>
              <li>添加“爱芬环保”微信号成为志愿者；</li>
              <li>添加“爱芬环保”微信号成为志愿者；</li>
            </ol>
          </div>
          <div class="content">
            <p class="title">工作机会</p>
            <p>> 职位描述</p>
            <ol>
              <li>了解最新招聘信息，请关注爱芬环保微信公众号，后台回复招聘</li>
              <li>了解最新招聘信息，请关注爱芬环保微信公众号，后台回复招聘</li>
              <li>了解最新招聘信息，请关注爱芬环保微信公众号，后台回复招聘</li>
            </ol>
          </div>
          <div class="content">
            <p class="title">关注公众号</p>
            <p>> 关注方法</p>
            <ol>
              <li>微信添加朋友选择公众号搜索爱芬环保点击关注；</li>
              <li>扫描网站底部微信公众号二维码点击关注；</li>
            </ol>
          </div>
        </div>
        <div class="tabCour">
          <p class="title">我们的蜕变</p>
          <ul class="timeline">
            <li class="odd">
              <div class="cour-img"><img src="../res/static/img/us_img4.png"></div>
              <div class="cour-panel layui-col-sm4 layui-col-lg5">
                <p class="label">2012 年 6 月</p>
                <p>我们成立了，来到了杭州西湖这个美丽的地方。</p>
              </div>
            </li>
            <li>
              <div class="cour-img"><img src="../res/static/img/us_img5.png"></div>
              <div class="cour-panel layui-col-sm4 layui-col-sm-offset8 layui-col-lg5 layui-col-lg-offset7">
                <p class="label">2010 年 6 月</p>
                <p>我们成立了，来到了杭州西湖这个美丽的地方。</p>
              </div>
            </li>
            <li class="odd">
              <div class="cour-img"><img src="../res/static/img/us_img6.png"></div>
              <div class="cour-panel layui-col-sm4 layui-col-lg5">
                <p class="label">2009 年 6 月</p>
                <p>我们成立了，来到了杭州西湖这个美丽的地方。</p>
              </div>
            </li>
            <li>
              <div class="cour-img"><img src="../res/static/img/us_img7.png"></div>
              <div class="cour-panel layui-col-sm4 layui-col-sm-offset8 layui-col-lg5 layui-col-lg-offset7">
                <p class="label">2008 年 6 月</p>
                <p>我们成立了，来到了杭州西湖这个美丽的地方。</p>
              </div>
            </li>
            <li class="odd">
              <div class="cour-img"><img src="../res/static/img/us_img8.png"></div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- footer部分 -->
   <div class="footer">
    <div class="layui-container">
      <p class="footer-web">
        <a href="javascript:;">友情链接</a>
        <a href="javascript:;">码上公益</a>
        <a href="javascript:;">码上公益</a>
        <a href="javascript:;">码上公益</a>
        <a href="javascript:;">码上公益</a>
        <a href="javascript:;">码上公益</a>
        <a href="javascript:;">码上公益</a>
      </p>
      <div class="layui-row footer-contact">
        <div class="layui-col-sm2 layui-col-lg1"><img src="../res/static/img/erweima.jpg"></div>
        <div class="layui-col-sm10 layui-col-lg11">
          <div class="layui-row">
            <div class="layui-col-sm6 layui-col-md8 layui-col-lg9">
              <p class="contact-top"><i class="layui-icon layui-icon-cellphone"></i>&nbsp;400-8888888&nbsp;&nbsp;(9:00-18:00)</p>
              <p class="contact-bottom"><i class="layui-icon layui-icon-home"></i>&nbsp;88888888@163.com</span></p>
            </div>
            <div class="layui-col-sm6 layui-col-md4 layui-col-lg3">
              <p class="contact-top"><span class="right">该网站版权归 <a href="#" target="_blank">爱芬环保</a> 所有</span></p>
              <p class="contact-bottom"><span class="right">Copyright&nbsp;©&nbsp;2016-2018&nbsp;&nbsp;ICP&nbsp;备888888号</span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<script src="../res/layui/layui.js"></script>
<!--[if lt IE 9]>
  <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
  <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<script>
  layui.config({
    base: '../res/static/js/' 
  }).use('firm'); 
</script>
</body>
</html>