@charset:"UTF-8";
#start {
  height: 55px;
}
.green {
  background: #82D900;
}

.navigation {
  margin-top: 35px;
}

.navigation .success{
  background-color: red;
  height: 100%;
  color: white;
}

.navigation a{
  color: black;
}

.rotation {
  padding-left: 0px;
  padding-right: 0px;
}

.title {
  text-align: center;
  font-size: 35px;
  margin-top: 50px;
  color: #EA7500;
}

.img {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 30px;
}

.content {
  margin: 50px;
}

.tud {
  padding-left: 50px;
}